@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&display=swap');

/* #region Header */

html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    --header-height: 50px;
    height:100%;
}

header {
    height: var(--header-height);
    width: 100%;
    background-color: #212D30;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: -1px;
    padding-top: 1px;
}
header h2{
    text-align: center;
    flex-shrink: 0;
    margin: 4px;
}
.arrow{
    position: relative;
    background: none;
    border: none;
    outline: none !important;
    line-height: 45px ;
    color: white;
    height: 100%;
    font-size: 2.4em;
    width: 100%;
    flex-shrink: 2;
    
}
.arrow::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    transition: opacity 200ms;
}
.arrow.reverse::before{
    background: linear-gradient(-90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}

.arrow:hover::before{
    opacity: 1;
}

/* #endregion */

/* #region Aside*/
 aside{
    float: left;
    margin-right: 30px;
    height: calc(100vh - var(--header-height));
    width: 250px;
    position: fixed;
 }
 .bar{
    float: left;
    margin-right: 5px;
    height: 100%;
    background-color: #BCD0C7;
    width: 60px;
 }
.date_list{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
    margin: 0;
}

/* #endregion */

/* #region  Section*/

.right {
    margin-left: 250px;
}

/* #endregion */